<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    # 定義預設控制檯輸出日誌輸出格式
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    # 定義預設日誌檔案輸出格式
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./logs"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg  %n</pattern>-->
<!--            <pattern>  %d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-50.50class]) %cyan(%logger{50}.%M\(%line\))) >>> %cyan(%msg) %n</pattern>-->
            <pattern>  %d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-30.30class]) >>> %cyan(%msg) %n</pattern>
<!--            <pattern>   %-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>-->

        </encoder>
    </appender>

    <!--文件输出-->
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/Log/%d{yyyy, aux}/%d{MM, aux}/%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>365</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 在日志配置级别的基础上过滤掉WARN级别以下的日志 -->
            <level>INFO</level>
        </filter>
    </appender>

    <!--异常日志输出-->
    <!-- 按照每天生成日志文件 -->
    <appender name="ExceptionFILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/ExceptionLog/%d{yyyy, aux}/%d{MM, aux}/%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>365</MaxHistory>
            <!--日志文件最大大小-->
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 过滤掉非WARN的日志 -->
        <!--临界值日志过滤级别配置 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 在日志配置级别的基础上过滤掉WARN级别以下的日志 -->
            <level>WARN</level>
        </filter>
    </appender>

<!--    redis appender-->
<!--    <appender name="TEST" class="com.cwbase.logback.RedisAppender">
        <source>HsBlogBackEndApplication</source>
&lt;!&ndash;        <type>test</type>&ndash;&gt;
        <host>localhost</host>
        <key>logstash</key>
        <tags>test</tags>
        <mdc>true</mdc>
        <location>true</location>
        <callerStackIndex>0</callerStackIndex>
        <additionalField>
            <key>MyKey</key>
            <value>MyValue</value>
        </additionalField>
        <additionalField>
            <key>MySecondKey</key>
            <value>MyOtherValue</value>
        </additionalField>
    </appender>-->
<!--    <property resource="application.yml" />-->
 <!--   <appender name="DB-CLASSIC-MYSQL-POOL" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
&lt;!&ndash;            <dataSource class="org.apache.commons.dbcp.BasicDataSource">&ndash;&gt;
&lt;!&ndash;                <driverClassName>com.mysql.jdbc.Driver</driverClassName>&ndash;&gt;
            <dataSource class="com.zaxxer.hikari.HikariDataSource">
                <driverClass>com.mysql.cj.jdbc.Driver</driverClass>
                <url>jdbc:mysql://localhost:3306/auge_log?characterEncoding=UTF-8&amp;useSSL=true&amp;useUnicode=true</url>
                <username>root</username>
                <password> </password>
            </dataSource>
        </connectionSource>
        &lt;!&ndash;這裡設定日誌級別為error&ndash;&gt;
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>-->

    <appender name="dbLogTask" class="ch.qos.logback.classic.db.DBAppender">
      <!--  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Warn</level>
        </filter>-->
       <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
&lt;!&ndash;            <level>error</level>&ndash;&gt;
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://127.0.0.1:3306/logback?useSSL=true</url>

<!--                ?useSSL=true&amp;characterEncoding=utf-8&amp;useUnicode=true</url>-->
            <user>root</user>
            <password></password>
        </connectionSource>
    </appender>
 <!--   <appender name="amqp"
              class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <host>localhost</host>
        <port>5672</port>
&lt;!&ndash;        <virtualHost>/</virtualHost>&ndash;&gt;
        <username>guest</username>
        <password>guest</password>
        <exchangeType>topic</exchangeType>
&lt;!&ndash;        <exchangeName>demo.log</exchangeName>&ndash;&gt;
&lt;!&ndash;        <applicationId>demo</applicationId>&ndash;&gt;
        <routingKeyPattern>test</routingKeyPattern>
        <contentType>text/plain</contentType>
        <maxSenderRetries>2</maxSenderRetries>
        <charset>UTF-8</charset>
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
    </appender>
-->
  <!--  <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">

        &lt;!&ndash;Layout（純文本）而不是格式化的JSON &ndash;&gt;
        <layout>
            <pattern>
                <![CDATA[%d{yyyy-MM-dd HH:mm:ss} [%thread] [%class:%line] %-5level %logger - %msg%n ]]>
            </pattern>
        </layout>
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>

        <declareExchange>false</declareExchange>
        <exchangeType>direct</exchangeType>
        <exchangeName>log.exchange.direct</exchangeName>
        <routingKeyPattern>logDirectQueue</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>false</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
    </appender>-->
   <!-- <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
        <addresses>localhost:5672</addresses>
        <abbreviation>36</abbreviation>
        <includeCallerData>false</includeCallerData>
        <applicationId>${AMQP_APP_ID}</applicationId>
        <routingKeyPattern>%property{applicationId}.%c.%p</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
        <declareExchange>true</declareExchange>
    </appender>-->
    <appender name="RabbitMq" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>
                {
                "time": "%date{ISO8601}",
                "thread": "%thread",
                "level": "%level",
                "class": "%logger{36}",
                "message": "%message"
                }
            </pattern>
        </layout>
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>
     <!--   <exchangeType>direct</exchangeType>
        <exchangeName>amq.direct</exchangeName>-->
        <exchangeName>rabbit.log</exchangeName>
<!--        <exchangeType>queue</exchangeType>-->
<!--        <queueName>AmqpAppenderTest</queueName>-->
        <applicationId>AmqpAppenderTest</applicationId>
        <applicationId>RabbitMq-IT-SE</applicationId>
<!--        <routingKeyPattern>%property{applicationId}.%c.%p</routingKeyPattern>-->
        <routingKeyPattern>info</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <abbreviation>36</abbreviation>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
        <declareExchange>true</declareExchange>

    </appender>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.mybatis.logging.Logger" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ExceptionFILE"/>
<!--        <appender-ref ref="TEST"/>-->
        <appender-ref ref="dbLogTask"/>
        <appender-ref ref="RabbitMq"/>
    </root>
</configuration>